body{
	/*margin-top:50px;*/
	font: 15px "Trebuchet MS";
  position: relative;
  color:rgb(0, 0, 0);
}

#main_div{
  width: 100%;
  height: 80vh;
  float: left;
  background:#e0eaff;
}

#main_upper_div{
  width: 100%;
  height: 10vh;
}

#title_div{
  width: 50%;
  height: 10vh;
  float: left;
}

#us_map_options_div{
  width: 50%;
  height: 10vh;
  float: left;
  margin-top: 4vh;
}

#abs_rel_div{
  width: 50%;
  height: 10vh;
  float: left;
}

#choose_year_div{
  width: 25%;
  height: 10vh;
  float: left;
}

#choose_month_div{
  width: 25%;
  height: 10vh;
  float: left;
}

#main_lower_div{
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
}

#us_map_div{
  width: 75%;
  height: 60vh;
  float: left;
}

#us_map_stats_div{
  width: 25%;
  height: 60vh;
  float: left;
}

#zoom_div{
  width: 100%;
  height: 80vh;
  float: left;
  background:#e0eaff;
}

.state{
  width: 45%;
  height: 80vh;
  float: left;
}

.state_upper{
  width: 100%;
  height: 10vh;
  float: left;
  padding-left: 20px;
}

.state_drop_menu{
  width: 50%;
  height: 10vh;
  float: left;
}

.state_stats{
  width: 50%;
  height: 10vh;
  float: left;
}

.state_map{
  width: 100%;
  height: 40vh;
  float: left;
}

.state_pie_chart{
  width: 100%;
  height: 30vh;
  float: left;
}

#states_attributes_menu_div{
  width: 10%;
  height: 80vh;
  float: left;
}

.headline, .subline{
  display: block;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  fill: rgb(0, 0, 0);
  font-family: 'PT Sans',sans-serif;
  opacity: 0.5;
}

.headline{
  font-weight: bold;
  font-size: 190%;
}

.subline{
  font-size: 80%;
  font-weight: thick;
}

.label{
  font-family: 'PT Sans',sans-serif;
  opacity: 1;
  font-size: 30%;
}

.dropdown-menu .attrib-item.active{
  background-color: grey;
}

.dropdown-menu .attrib-item:hover{
  background-color: grey;
}